root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[docker-compose.yml]
indent_size = 4

[*.{js,jsx,ts,tsx}]
indent_size = 2
quote_type = single

[*.html]
indent_size = 2

[*.css]
indent_size = 2

[*.json]
indent_size = 2